PORT=3001

# The URL of your deployed Google Apps Script Web App (from Extensions > Apps Script > Deploy > Web App)
# Example:
# GOOGLE_SHEET_API_URL=https://script.google.com/macros/s/AKfycbxxxxxxx/exec
GOOGLE_SHEET_API_URL=https://script.google.com/macros/s/AKfycbyI_mDM40gEWlnDBq21guHIoYMOkacDXZ2nwPSKOi0fRSkF3lmnx3dyNGrI_JbSvzlF/exec

# Set to true to test locally with test records (TEAM-042, TEAM-108) while setting up your Google Sheet
ENABLE_DEV_TEST_SHEET=true
